---
import { Search } from '~/components/search'
import DefaultLayout from '~/layouts/default.astro'
---

<DefaultLayout>
  <div class="m-6 mt-16 flex justify-center">
    <div class="flex-initial">
      <div class="text-8xl font-black sm:text-9xl">Autoclip</div>
    </div>
  </div>

  <Search theme="index" client:only="solid-js" />
</DefaultLayout>
